img.preview{
  height: 50px;
  width: auto;
}

h5.icon{
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 888px){
  img.preview{
    height: 30px;
    width: auto;
  }
  h5.icon{
    font-size: 11px;
  }
}
