div.dock-container {
  display: block;
  height: 100px;
  width: 40px;
}

div.dock-container.left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

ul.dock {
  display: inline-block;
  height: 130px;
  padding: 0 40px 0 40px;
  overflow: hidden;
  margin-top: 28px;
}
ul.dock li {
  display: block;
  position: relative;
  float: left; width: 50px;
  height: 50px;
  margin: 60px 0 4px 0;
  -webkit-transition: 0.15s linear;
  -webkit-transition-property:
  -webkit-transform margin;
  text-align: center;
}

ul.dock li a {
  display: block;
  height: 50px;
  padding: 0 1px;
  -webkit-transition: 0.15s linear;
  -webkit-transition-property:
  -webkit-transform margin; margin: 0;
  -webkit-box-reflect: below 2px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.dock li a img {
  width: 48px;
}

ul.dock li:hover {
  margin-left: 9px;
  margin-right: 9px;
  z-index: 200;
}
ul.dock li:hover a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.5);
}
ul.dock li.nearby {
  margin-left: 6px;
  margin-right: 6px;
  z-index: 100;
}
ul.dock li.nearby a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.25);
}

ul.dock li span {
  background: rgba(211,211,211, 0.8);
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  display: none;
  width: 45px;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 6px 6px 6px;
  -webkit-border-radius: 4px;
  color: #fff;
}
ul.dock li:hover span {
  display: block;
}

div#dockContainer {
  position: fixed;
  bottom: 12px;
  height: 120px;
  padding: 50px 0 0;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  width: 100%;
  line-height: 1;
  z-index: 100;
}
div#dockWrapper {
  width: auto;
  display: inline-block;
  position: absolute;
  line-height: 0;
  bottom: -16px;
  right: 0;
  left: 0;
}
#dockContainer, #dockContainer * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}
