@import "../base/_fonts.scss";
@import "../base/_base.scss";
@import "../utils/_variables.scss";

.header{
  padding-top: 15px;
  height: 52px;
  width: 100%;
  color: $white;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;

  &.pull-up{
    padding-top: 0;
  }

  h5{
    width: 160px;
    height: 52px;
    font-size: 25px;
    font-weight: 200;
    text-align: center;

    &.nav{
      margin-top: 20px;
      margin-bottom: 0;

      a{
        color: $white;
      }

      &.dark{
        a{
          color: $black;
        }
      }
    }
  }

  h1.name-header{
    text-transform: uppercase;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
  }
}

@media screen and (max-width: 888px){
  h5.nav{
    display: none;
  }
}
