@import "../utils/_variables.scss";
@import "../base/_fonts.scss";



.entry{
  height: 100vh;
  background-color: $orange;

  .greeting{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;

    .laptop-wrapper{
      padding-top: 105px;
      width: 1040px;
      height: 448px;
    }

    .laptop{
      height: 500px;
      width: 690px;
      background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
      margin: 0 auto;
      padding: 25px;
      border-radius: 18px;
      box-shadow: inset 0 2px 7px 1px rgba(255,255,255,.5),inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 76px 50px 169px -35px rgba(0,0,0,0.4);

      .keyboard{
        border-radius: 3px 3px 0 0;
        background: linear-gradient(to right, rgba(246,250,253,1) 0%,rgba(246,250,253,1) 6%,rgba(246,250,253,1) 15%,rgba(246,250,253,1) 42%,rgba(230, 230, 230, 1) 42%,rgba(246,250,253,1) 45%,rgba(246,250,253,1) 53%,rgba(230, 230, 230, 1) 56%,rgba(246,250,253,1) 56%, rgba(246,250,253,1)  100%);
        width: 890px;
        height: 10px;
        position: absolute;
        margin-top: 25px;
        margin-left: -100px;
      }

      .bezel{
        height: 9px;
        width: 890px;
        bottom: -11px;
        border-radius: 0 0 40px 40px;
        background: #dde2e9;
        box-shadow: inset 0px -25px 10px -20px rgba(0,0,0,.5);
        margin-top: 35px;
        margin-left: -100px;
      }

      .screen-bezel{
        height: 100%;
        width: 100%;
      }
    }

    .screen{
      background: url('../../static/images/el-capitan.jpg');
      background-size: cover;
      height: 100%;
      width: 100%;
      background-color: $black;
      text-align: center;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

      .description{
        display: flex;
        justify-content: flex-end;
      }

      .full-name{
        font-size: 55px;
        color: white;
        display: block;
        color: $terminal-green;
      }

      .personal-description{
        color: white;
        font-size: 24px;
        font-weight: 200;
        display: block;
      }

      .contact-header{
        margin-top: 5px;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: 400;
      }

      .contact-icons{
        display: flex;
        justify-content: space-around;

        a i{
          color: $white;
        }
      }

    }
  }
}

@media screen and (max-width: 888px) {
  .entry{
    .greeting{
      height: 100%;

      .laptop-wrapper{
        width: 660px;
        height: 520px;
        padding-top: 80px;
      }
      .laptop{
        width: 100%;
        height: 100%;
        padding: 20px;
        box-shadow: none;

        .keyboard{
          width: 781px;
          margin-left: -65px;
          margin-top: 20px;
        }

        .bezel{
          width: 781px;
          margin-left: -64px;
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 810px){
  .entry{
    .greeting{
      .laptop{
        .bezel, .keyboard{
          width: 750px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px){
  .entry{
    .greeting{
      .laptop-wrapper{
        width: 550px;
        height: 450px;

        .bezel, .keyboard{
          width: 600px;
          margin-left: -45px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
  .entry{
    .greeting{
      .laptop{
        .bezel, .keyboard{
          width: 500px;
        }
      }
      .laptop-wrapper{
        height: 400px;
        width: 450px;
      }
    }
  }
}
