@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v12/C6HYlRF50SGJq1XyXj04zwV_pQ1T3xN3K1c3sB361us.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/C6HYlRF50SGJq1XyXj04z306qf9KHRHwsVx7iw5MXmY.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v14/2HG_tEPiQ4Z6795cGfdivKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/LqowQDslGv4DmUBAfWa2Vw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/HkF_qI1x_noxlxhrhMQYEKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/nj47mAZe0mYUIySgfn0wpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/DvlFBScY1r-FMtZSYIYoYw.ttf) format('truetype');
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  margin: 0;
  letter-spacing: .3px;
  color: #39424B; }

#resume{
  margin-top: 5%;
}

h1.resume-h1, h2.resume-h2, h3.resume-h3, h4.resume-h4, h5.resume-h5, h6.resume-h6 {
  text-transform: uppercase;
  margin: 0; }

h1.resume-h1 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px; }

h2.resume-h2 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .5px; }

h3.resume-h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .4px; }
  h3.resume-h3.bold {
    font-weight: 700; }

h4.resume-h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px; }
  h4.resume-h4.bold {
    font-weight: 700; }

h5.resume-h5 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 11px; }
  h5.resume-h5.italic {
    font-style: italic; }

h6.resume-h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px; }

a.resume {
  color: inherit;
  text-decoration: inherit; }
  a.resume:hover {
    color: #2895F1; }
  a.resume .fa-external-link {
    font-size: 10px;
    vertical-align: text-top; }

p.resume,
li.resume {
  font-size: 11px; }

blockquote {
  font-size: 11px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px; }

em {
  color: #999; }

ul.resume {
  margin: 5px 0 0;
  -webkit-padding-start: 25px; }
  ul.resume li.resume {
    padding-left: 0px; }
  ul.resume.minimal {
    list-style: none;
    padding: 0; }
    ul.resume.minimal li.resume {
      margin-bottom: 3px;
      padding-left: 0; }
  ul.resume.two-column {
    -webkit-column-count: 2;
    -webkit-column-gap: 28px;
    column-count: 2;
    column-gap: 28px; }
    ul.resume.two-column li.resume {
      padding-left: 0; }

@page {
  size: A4; }

.container {
  padding-top: 20px; }

.keyline {
  width: 45px;
  margin: 8px 0 10px;
  border-top: 1px solid #56817A; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.profile-pic {
  margin-top: -5px;
  margin-right: 18px; }
  .profile-pic img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 2px solid #56817A; }

.summary {
  margin: 5px 0 5px; }

/* Layouts */
.page {
  background: white;
  width: 612px;
  min-height: 792px;
  display: block;
  margin: 0 auto;
  border-top: 10px solid #56817A;
  padding: 35px 20px 20px 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }
  .page:after {
    content: "";
    display: table;
    clear: both; }

.left-column {
  float: left;
  width: 165px;
  margin-right: 20px;
  word-wrap: break-word; }

.right-column {
  width: auto;
  overflow: hidden; }

.item {
  margin-bottom: 15px; }
  .item:last-child {
    margin-bottom: 0; }

@media print {
  body {
    margin: 0;
    font-style: normal !important; }
  .title h3, h3 {
    font-style: normal;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif; }
  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 25px 0 20px;
    box-shadow: none; }
    .page .resume-header,
    .page .resume-content {
      padding: 0 20px 0 20px; }
  .container {
    page-break-inside: avoid; }
  .work-container .item {
    page-break-inside: avoid; }
  .fa-external-link {
    display: none; }
  .container {
    padding-top: 20px; }
  .keyline {
    margin: 8px 0 8px; } }

/* Components */
.info-tag-container {
  margin-bottom: 5px; }
  .info-tag-container .fa {
    font-size: 14px;
    width: 12px;
    text-align: center;
    vertical-align: middle; }
    .info-tag-container .fa.fa-map-marker {
      font-size: 16px; }
    .info-tag-container .fa.fa-mobile {
      font-size: 18px; }
    .info-tag-container .fa.fa-envelope-o {
      font-size: 12px; }
    .info-tag-container .fa.fa-desktop {
      font-size: 11px; }
    .info-tag-container .fa.fa-external-link {
      width: auto;
      font-size: inherit;
      vertical-align: text-top; }
  .info-tag-container .info-text {
    font-size: 9px;
    display: inline-block;
    vertical-align: middle;
    width: 144px; }

.references-container .fa {
  font-size: 14px; }
