.terminal-container{
  height: 260px;
  width: 450px;
  position: absolute;
  top: 80px;
  left: 30px;
  border-radius: 4px;
  background: white;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;

  .terminal-text{
    font-size: 11px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .terminal-header{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: rgb(211, 211, 211);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;

    div{
      border-radius: 50%;
      height: 10px;
      width: 10px;
      margin-left: 2px;
      margin-right: 2px;
    }
    .close-button{
      background: rgb(255, 25, 53);
    }

    .minimize-button{
      background: rgb(255, 175, 24);
    }

    .maximize-button{
      background: rgb(0, 189, 58);
    }
  }
}

@media screen and (max-width: 888px){
  .terminal-container{
    height: 55%;
    width: 55%;
    top: 4%;
    left: 1%;

    .terminal-text{
      font-size: 8px;
    }
  }
}
